@page {
  margin: 0px;
}
body {
  font-family: 'AvenirLTStd-Book', Helvetica, Verdana, sans-serif;
}
#quiz-certificate-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#quiz-certificate {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  page-break-before: avoid;
  page-break-after: avoid;
  page-break-inside: avoid;
  overflow: hidden;
}
#quiz-certificate, #quiz-certificate-image img {
  width: 1054px;
  height: 812px;
}
#quiz-certificate .certificate-name {
  position:absolute;
  top: 428px;
  left: 29px;
  width: 995px;
  text-align: center;
  color:#6d5521;
  font-size:51pt;
  line-height: 75%;
  text-transform: uppercase;
}
#quiz-certificate .certificate-date {
  position: absolute;
  top: 636px;
  left: 195px;
  width: 170px;
  text-align: center;
  color:#6d5521;
  font-size: 14pt;
}
#quiz-certificate-download {
  display: none;
  height: 0;
}
#quiz-certificate .certificate-text, #quiz-certificate .certificate-text-2,
#quiz-certificate .certificate-quiz {
  display: none;
  height: 0;
}
