/* $Id: local-sample.css,v 1.1.2.1 2010/01/11 00:08:12 sociotech Exp $ */

/****************************/
/* LOCAL CSS                */
/****************************/

/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */

/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */

body {
	background-color: #d8cfb4;
}

#logo {
	width: 162px;
	float: left;
}

#sidebar-first {
	background-color: #78a22e;
}

#main-group {
	background-color: #fff;
}

#footer {
	background-color: #a14926;
	color: #fff;
}

#footer a:link {
	color: #cbb899;
	text-decoration: underline;
}

#footer a:visited {
	color: #cbb899;
	text-decoration: underline;
}

.float-left {
	float: left;
}