body {
  
}
img {
  margin-left: 5px;
  padding: 0;
}
.text {
  position: absolute;
  z-index: 10;
}
#page-1, #page-2 {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#agreement-image-1 {
  position: relative;
  top: 0;
  left: 0;
}
#agreement-text-1 {
  top: 155px;
  left: 258px;
}
#agreement-text-2 {
  top: 322px;
  left: 258px;
}
#agreement-text-1, #agreement-text-2 {
  width: 238px;
  text-align: center;
  font-size: .8em;
  font-weight: bold;
}
#agreement-text-3 {
  top: 360px;
  left: 0;
  border: 1px solid black;
  font-size: 1.2em;
}
.subtext {
  position:absolute;
}
#agreement-text-3 .date {
  top: 35px;
  left: 479px;
  width: 100px;
}
#agreement-text-3 .name {
  top: 73px;
  left: 140px;
  width: 520px;
}
#agreement-text-3 .address {
  left: 93px;
  top: 116px;
  width: 640px;
}
#agreement-text-3 .city {
  left: 77px;
  top: 158px;
  width: 432px;
}
#agreement-text-3 .zip {
  left: 451px;
  top: 158px;
  width: 164px;
}
#agreement-text-3 .phone {
  left: 71px;
  top: 129px;
  width: 415px;
}
#agreement-text-3 .email {
  left: 64px;
  top: 170px;
  width: 423px;
}
#agreement-text-3 .date-2 {
  top: 317px;
  left: 440px;
  width: 100px;
}
#agreement-image-2 {
  page-break-before: avoid;
  page-break-after: avoid;
  page-break-inside: avoid;
}
