/**
 * Content Sidebar - ala FAQs 
 */

.content-sidebar {
	float: right;
	border:1px solid #A14926;
	width: 200px;
	margin-left: 1em;
}

.content-sidebar h3 {
	text-align: center;
	background-color: #D8CFB4;
}

#content-inner .content-sidebar ul {
	margin-left: 0.5em;
	padding-right: 0.5em;
}

.content-inner .content-sidebar ul {
	margin-bottom: 0.5em;
}

.content-sidebar li {
	list-style-type: none;
	padding: .3em 0;
}

.content-sidebar li a {
	text-decoration: underline;
}

/**
 * Full species node
 */
 
.species-title {
	font-size: 2em;
	font-weight: 100;
	line-height: 100%;
	padding: .3em 0;
} 

.field-field-common-name {
	padding-bottom: 1em;
}

.field-field-common-name .field-item .field-label-inline-first {
	font-weight: 100;
	font-size: .75em;
	margin-bottom: .5em;
}

.field-field-common-name .field-item {
	font-size: 1.5em;
}

.node-type-species h3 {
	padding-top: 1em;
	font-size: 1.3em;
	border-top: 2px dashed #d7d7d7;
}

.field-field-plant-photo {
}

.field-field-plant-photo .field-item {
	float: left;
	margin: .5em .8em;
}


/**
 * Regions views
 */

.view-region-invasives-list .field-content img {
	float: left;
	margin-top: -9px;
	margin-right: 3em; 
}

#view-id-region_invasives_list-page_1 .view-content {
	border: 2px dashed #d7d7d7;
	border-right: none;
	padding: 19px 0 1.5em 19px;
}

#view-id-region_invasives_list-page_1 .views-field-field-alternatives-nid {
	float: right;
	width: 150px;
	margin-left: 40px;
	margin-bottom: 20px;
}

	

#view-id-region_invasives_list-page_1 .views-field-title {
	margin-left: 105px;
}

.view-region-invasives-list {}

.view-region-invasives-list .views-row {
	clear: left;
	padding: 24px 19px 21px;
}

.view-region-invasives-list .views-row-odd {
	background-color: #f1f1f1;
}

.plant-care strong {
	float:left;
}

/**
 * Alternatives
 */
 
#view-id-region_alteratives_list-page_1 .views-field-title {
	font-size: 1.5em;
	color: #78A22E;
	margin: 0 0 .5em;
}

#view-id-region_alteratives_list-page_1 .views-field-field-common-name-value {
	font-size: 1em;
}

#view-id-region_alteratives_list-page_1 .views-field-field-common-name-value .field-content {
	font-size: 1.3em;
}

#view-id-region_alteratives_list-page_1 .views-field-field-plant-photo-fid img {
	float: left;
	margin-right: 1em;
	margin-bottom: .5em;
	padding-top: 19px;
}

#view-id-region_alteratives_list-page_1 .views-row {
	padding: 20px 20px 1px;
}

#view-id-region_alteratives_list-page_1 .views-row-odd {
	background-color: #f1f1f1;
}


/**
 * Map page helpers
 */
 
#map {
	height: 360px;
	overflow: hidden;
}
/**
 * Front Page banner
 */

#block-block-6 h1 {
	background-color: #A14926;
	color: #f8f8f8;
	padding: .5em 1em;
	font-weight: 100;
	text-align: center;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	-moz-box-shadow: 3px 3px 4px #737373;
	-webkit-box-shadow: 3px 3px 4px #737373;
	box-shadow: 3px 3px 4px #737373;
}

#block-block-6.block,
#block-block-6.content {
	margin-bottom: 0;
}

#node-1.node {
	margin-bottom: 0;
}

#breadcrumbs.block {
	margin-bottom: 0;
}

/**
 * Testimonials Styling
 */

.testimonial-nav a {
	margin: 0 10px;
 }
 
.testimonial-nav {
	margin-bottom: 1.5em;
	border: 2px dashed #d7d7d7;
	border-right: none;
	padding: 9px 0 6px 19px;
}

#view-id-business_view-page_1 .view-content {
	padding-left: 29px;
	border-left: 2px dashed #d7d7d7;
	border-bottom: 2px dashed #d7d7d7;
	margin-top: -20px;
	padding-top: 29px;
	padding-bottom: 29px;
}

#view-id-business_view-page_1 .views-row-odd {
	background-color: #f1f1f1;
}

#view-id-business_view-page_1 .views-row {
	padding: 20px;
	padding-bottom: 1px;
 }
 
#view-id-business_view-page_1 .views-field-title {
	font-size: 1.2em;
	float: left;
}

#view-id-business_view-page_1 .views-field-name {
	float: right;
}

#view-id-business_view-page_1 .views-field-name  .field-content {
	font-size: 1.2em;
}

#view-id-business_view-page_1 .views-field-body {
	clear: both;
	padding-top: 1em; 
}

/**
 * Horticultural Pros Styling
 */

div.hort-pros {
	width: 600px;
	padding: 20px 50px;
}

div.home-list {
	width: 640px;
	margin: 20px auto;
}

/**
 * Temporary Alternatives helpers until i figure out this Views thing
 */

div.alternatives {
	border: 2px dashed #d7d7d7;
	border-right: none;
	padding: 20px;
	margin-top: 20px;
}

div.alternatives .item {
	padding: 20px 20px 1px;
}

div.alternatives h3 {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 2px dotted #d7d7d7;
}

div.alternatives .item h3 {
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}

div.alternatives .odd {
	background-color: #f1f1f1;
}

div.alternatives .commonName {
	font-size: 1.3em;
}

div.alternatives .plantCare {
	float: right;
	padding:8px 0 0 30px;
	background-color: #fff;
	margin-right: 60px;		width: 140px;
}

div.alternatives ul.altRegions li {
	margin-left: 16px;
}

div.alternatives ul {
	margin-top: 20px;
	margin-left: 20px;
}

 div.alternatives ul.moreList li {
	margin: 5px 0;
}

/**
 * the Effing HEADER
 */

#pr-header {
	width: 961px;
	margin: 0 auto;
	background: url(/images/header-bg.jpg) top repeat-x;
	height: 196px;
	border-right: 1px solid #444;
}

#pr-header img {
	margin: 0; 
}
 
#header-banner img {
	width: 780px;
}

#header-banner .block,
#header-banner .block .inner,
#header-banner .block .inner .content,
#header-banner .grid16-13,
#block-block-8,
#block-block-8 .inner-inner img{
	margin: 0;
	float: none;
}

#header-banner .block .inner .content p {
	margin: 0px;}
	
/**
 * News list
 */
 
#view-id-News-page_1 .views-field-title {
	font-size: 20px;
	margin-bottom: 4px;
}

#view-id-News-page_1 .views-row {
	clear: both;
	border-bottom: 2px dashed #d7d7d7;
	margin-top: 1em;
	margin-bottom: 1em;
}