.float-right {
	float: right;
	margin-left: 1em;
}

.float-left {
	float: left;
	margin-right: 1em;
}

.clear {	
	clear: both;
}

.center {
	align: center;
}

.left-margin-50 {
	margin-left: 50px;
}

.right-margin-50 {
	margin-right: 50px;
}

.left-padding-50 {
	padding-left: 50px;
}

.right-padding-50 {
	padding-right:50px;
}

.bottom-margin-30 {
	padding-bottom: 30px;
}

.top-margin-30 {
	padding-top: 30px;
}

.padding-50 {
	padding: 50px;
}

.dashed {
	border:5px dashed #f1f1f1;
	margin-bottom: 20px;
}

/**
 * Typographical utilities
 */

.green {
	color: #78A22E;
}

.red {
	color: #A14926;
}

.brown {
	color:#4d3c14;
}

.white {
	color: #f9f9f9;
}

.upcase {
	text-transform:uppercase;
}

.small-medium {
	font-size:1.3em;
	font-weight:100;
	line-height:130%;
}

.medium {
	font-size:1.5em;
	padding-top: .3em;
	font-weight:100;
	line-height:100%; 
}

.big {
	font-size:2em;
	padding-top: .3em;
	font-weight:100;
	line-height:100%;
}

.bigger {
	font-size:2.5em;
	font-weight:100;
	line-height:100%;
}

.huge {
	font-size:3em;
	font-weight:100;
	line-height:100%;
}

.effing-giant {
	font-size: 6em;
	font-weight: 100;
	line-height: 100%;
	margin-right: 30px;
}

dt {
	font-size: 1.2em;
	color: #A14926; 
}

.border {
	border: 1px solid #A14926;
}

a.green-button,
a.green-button:link,
a.green-button:visited {
  color: #f9f9f9;
  text-decoration: none;
}

a.green-button  {
	background: #78A22E;
	height: 60px;
	border: 1px solid #ccc;
	display: inline;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 12px 20px 4px;
	margin-left: 40px;
	background: #78A22E url(/images/gr-button-bg.jpg) top repeat-x;
	-webkit-background-clip: padding-box;
}

a.green-button:hover,
a.green-button:focus,
a.green-button:active {
  color: #f9f9f9;
  text-decoration: none;
 
}

a.green-button:hover {
	border: 1px solid #444;
	border-bottom: #ccc;
}

a.red-button  {
	background: #A14926;
	height: 60px;
	border: 1px solid #ccc;
	display: inline;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 12px 20px 4px;
	margin-left: 40px;
	background: #A14926 url(/images/red-button-bg.jpg) top repeat-x;
	-webkit-background-clip: padding-box;
}

a.red-button,
a.red-button:link,
a.red-button:visited {
  color: #f9f9f9;
  text-decoration: none;
}

a.red-button:hover,
a.red-button:focus,
a.red-button:active {
  color: #f9f9f9;
  text-decoration: none;

}

a:hover.red-button {
  border: 1px solid #444;
  border-bottom: #ccc;	
}

