#quiz-certificate {
  font-family: Helvetica, Verdana, sans-serif;
  text-align: center;
  margin: 2em auto;
  width: 780px;
  height: 603px;
  background: url(certificate-web.png) no-repeat top left;
  position: relative;
}
#quiz-certificate .certificate-text, #quiz-certificate .certificate-text-2,
#quiz-certificate .certificate-quiz {
  display: none;
}
#quiz-certificate .certificate-name {
  position:absolute;
  top: 205px;
  left: 205px;
  font-size: 3.4em;
  line-height: .9em;
  font-weight: normal;
  margin: 1em auto;
  width: 548px;
  text-align:center;
  color:#79a13f;
  text-transform: uppercase;
}
#quiz-certificate .certificate-date {
  position: absolute;
  top: 467px;
  left: 37px;
  width: 200px;
  text-align:center;
  color:#0f0f0f;
  font-size: 1.3em;
}
